<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="showNavPrev" (click)="gotoPrev()" class="">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="showNavNext" (click)="gotoNext()" class="">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-round-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center class="padding-0" *ngIf="(subcategory$ | async) as subcategory" [routerDirection]="'root'"
      routerLink="/list/{{idxCategory}}/{{idxSubcategory}}">
      <img *ngFor="let image of subcategory.imageUrls; trackBy: trackFunc" [src]="image" class="responsive-thumbnail" />
      &nbsp;<span class="responsive-text">[ {{idxPosition + 1}} / {{idxLastPosition + 1}} ]</span>
    </ion-title>
    <ion-title text-center class="padding-0" *ngIf="fen">
      <span class="responsive-text">{{fen}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="board_wrapper" id="board-wrapper">
      <chessboard #chessboard (engineReady)="onEngineReady()" (engineStartThinking)="onEngineStartThinking()"
        (engineEndThinking)="onEngineEndThinking()" (engineInfo)="onEngineInfo($event)" (warn)="onWarn($event)" (playerMoved)="onPlayerMoved()"
        (gameOver)="onGameOver($event)">
      </chessboard>
    </div>
    <div class="info_wrapper">
      <div class="info">
        <div class="innerinfo" *ngIf="(position$ | async) as position">
          <p class="text-centered" *ngIf="!gameOver">
            <img *ngIf="targetImage" [src]="targetImage" class="thumbnail" />
            {{('position.' + move) | translate}} {{'position.to' | translate}}
            {{('position.' + position.target) | translate}}
          </p>
          <p class="text-centered" *ngIf="gameOver">
            {{('position.' + gameOverMessage) | translate}}
          </p>
          <p *ngIf="engineThinking" class="text-centered">
            <ion-spinner name="dots"></ion-spinner>
          </p>
          <p class="text-centered">{{infotext}}</p>
          <p *ngIf="position.record > 0" class="text-centered">{{'position.personal-record' | translate}}:
            {{position.record}} {{'position.moves' | translate}}</p>
        </div>
      </div>
      <div class="action_buttons">
        <ion-grid>
          <ion-row *ngIf="!engineThinking && !gameOver">
            <ion-col size="2">
              <ion-button [disabled]="!btnRewindEnabled" (click)="btnRewindClick()" size="small" fill="clear"
                color="dark">
                <ion-icon slot="icon-only" name="rewind"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="2">
              <ion-button [disabled]="!btnUndoEnabled" (click)="btnUndoClick()" size="small" fill="clear" color="dark">
                <ion-icon slot="icon-only" name="skip-backward"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="2">
              <ion-button [disabled]="!btnFlipEnabled" (click)="btnFlipClick()" size="small" fill="clear" color="dark">
                <ion-icon slot="icon-only" name="sync"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="2">
              <ion-button [disabled]="!btnSolveEnabled" (click)="btnHintlick()" size="small" fill="clear" color="dark">
                <ion-icon slot="icon-only" name="bulb"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="2">
              <ion-button [disabled]="!btnSolveEnabled" (click)="btnSolveClick()" size="small" fill="clear"
                color="dark">
                <ion-icon slot="icon-only" name="color-wand"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="engineThinking && !gameOver">
            <ion-col>
              <ion-button (click)="btnStopEngineClick()" size="small" expand="full" fill="clear" color="dark">
                <ion-icon slot="icon-only" name="square"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="gameOver">
            <ion-col size="2">
              <ion-button [disabled]="autoplaying || chessboard.isShowingFirstPosition()"
                (click)="btnShowFirstPositionClick()" size="small" fill="clear" color="dark">
                <ion-icon slot="icon-only" name="rewind"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="2">
              <ion-button [disabled]="autoplaying || chessboard.isShowingFirstPosition()"
                (click)="btnShowPreviousPositionClick()" size="small" fill="clear" color="dark">
                <ion-icon slot="icon-only" name="skip-backward"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="2">
              <ion-button *ngIf="!autoplaying" [disabled]="chessboard.isShowingLatestPosition()"
                (click)="btnPlayClick()" size="small" fill="clear" color="dark">
                <ion-icon slot="icon-only" name="play"></ion-icon>
              </ion-button>
              <ion-button *ngIf="autoplaying" (click)="btnPauseClick()" size="small" fill="clear" color="dark">
                <ion-icon slot="icon-only" name="pause"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="2">
              <ion-button [disabled]="autoplaying || chessboard.isShowingLatestPosition()"
                (click)="btnShowNextPositionClick()" size="small" fill="clear" color="dark">
                <ion-icon slot="icon-only" name="skip-forward"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="2">
              <ion-button [disabled]="autoplaying || chessboard.isShowingLatestPosition()"
                (click)="btnShowLatestPositionClick()" size="small" fill="clear" color="dark">
                <ion-icon slot="icon-only" name="fastforward"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <ion-fab #fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button color="light" size="small" [disabled]="engineThinking || autoplaying">
            <ion-icon name="arrow-dropup"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="top">
              <ion-fab-button color="dark" *ngIf="gameOver" (click)="btnRewindClick()"><ion-icon name="trash"></ion-icon></ion-fab-button>
              <ion-fab-button color="dark" (click)="btnCopyClipboardClick()"><ion-icon name="clipboard"></ion-icon></ion-fab-button>
              <ion-fab-button color="dark" (click)="btnSettingsClick()"><ion-icon name="options"></ion-icon></ion-fab-button>
            </ion-fab-list>
        </ion-fab>
    </div>
  </div>
</ion-content>