<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" *ngIf="!isModal">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'preferences.title' | translate}}
    </ion-title>
    <ion-buttons slot="end" *ngIf="isModal">
      <ion-button (click)="btnCloseClick()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [lazy-load-images]="{ rootMargin: '50px' }">
  <ion-list *ngIf="configuration">
    <ion-item (click)="toggleThemes()">
      <ion-label>{{'preferences.color-theme' | translate}}</ion-label>
      <ion-icon slot="end" [name]="showThemes ? 'arrow-dropdown' : 'arrow-dropright'" color="medium"></ion-icon>
    </ion-item>
    <ion-item [ngClass]="{'ion-hide': !showThemes}" *ngFor="let theme of themeSwitcherService.getThemes(); trackBy: trackFunc" color="{{configuration.colorTheme === theme.name ? 'light' : ''}}" button="true" (click)="selectTheme(theme.name)">
      <div *ngNoCheck slot="start" class="dot" [ngStyle]="{'background-color': theme.mainColor}"></div>
      <ion-label *ngNoCheck text-centered>{{theme.name}}</ion-label>
    </ion-item>
    <ion-item (click)="togglePieceThemes()">
      <ion-label>{{'preferences.piece-theme' | translate}}</ion-label>
      <ion-icon slot="end" [name]="showPieceThemes ? 'arrow-dropdown' : 'arrow-dropright'" color="medium"></ion-icon>
    </ion-item>
    <ion-item [ngClass]="{'ion-hide': !showPieceThemes}" *ngFor="let theme of pieceThemes; trackBy: trackFunc" color="{{configuration.pieceTheme === theme ? 'light' : ''}}" button="true" (click)="selectPieceTheme(theme)">
      <ion-col size="2" *ngFor="let piece of ['P', 'B', 'N', 'R', 'Q', 'K']; trackBy: trackFunc">
        <img *ngNoCheck class="big-thumbnail" attr.data-src="/assets/pieces/{{theme}}/w{{piece}}.svg" />
      </ion-col>
    </ion-item>
    <ion-item (click)="toggleBoardThemes()">
      <ion-label>{{'preferences.board-theme' | translate}}</ion-label>
      <ion-icon slot="end" [name]="showBoardThemes ? 'arrow-dropdown' : 'arrow-dropright'" color="medium"></ion-icon>
    </ion-item>
    <ion-item [ngClass]="{'ion-hide': !showBoardThemes}" *ngFor="let chunk of boardThemeSwitcherService.getThemes() | chunks: 4; index as idxChunk; trackBy: trackFunc">
      <ion-col *ngFor="let theme of chunk; index as idxChunk; trackBy: trackFunc" size="3" class="ion-text-center" [style.background-color]="getBoardBackground(theme.name)" (click)="selectBoardTheme(theme)" >
        <img *ngNoCheck class="big-thumbnail" attr.data-src="/assets/board/{{theme.name}}.png" />
      </ion-col>
    </ion-item>
    <ion-item button="true" (click)="cleanDatabase()">
      <ion-label>{{'preferences.clean-database' | translate}}</ion-label>
      <ion-icon slot="end" name="trash" color="medium"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>{{'preferences.goto-position' | translate}}</ion-label>
      <ion-toggle slot="end" [(ngModel)]="configuration.automaticShowFirstPosition" color="medium"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{'preferences.play-sounds' | translate}}</ion-label>
      <ion-toggle slot="end" [(ngModel)]="configuration.playSounds" color="medium"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{'preferences.highlight-squares' | translate}}</ion-label>
      <ion-toggle slot="end" [(ngModel)]="configuration.highlightSquares" color="medium"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="platform.is('cordova')">
      <ion-label>{{'preferences.prevent-screen-off' | translate}}</ion-label>
      <ion-toggle slot="end" [(ngModel)]="configuration.preventScreenOff" color="medium"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="platform.is('cordova')">
      <ion-label>{{'preferences.full-screen' | translate}}</ion-label>
      <ion-toggle slot="end" [(ngModel)]="configuration.fullScreen" (ngModelChange)="changeFullScreen($event)" color="medium"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{'preferences.use-syzygy' | translate}}</ion-label>
      <ion-toggle slot="end" [(ngModel)]="configuration.useSyzygy" color="medium"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{'preferences.stockfish-depth' | translate}}: {{configuration.stockfishDepth}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-range min="20" max="40" [(ngModel)]="configuration.stockfishDepth" color="medium"></ion-range>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button *ngIf="configuration" (click)="save()" color="primary" size="default" expand="full">
    <ion-icon slot="start" name="save"></ion-icon>
    <ion-label>{{'preferences.save-changes' | translate}}</ion-label>
  </ion-button>
</ion-footer>