<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'preferences.title' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="configuration">
    <ion-item (click)="toggleThemes()">
      <ion-label>{{'preferences.color-theme' | translate}}</ion-label>
      <ion-icon slot="end" [name]="showThemes ? 'arrow-dropdown' : 'arrow-dropright'" color="medium"></ion-icon>
    </ion-item>
    <ion-item [ngClass]="{'ion-hide': !showThemes}" *ngFor="let theme of themeSwitcherService.getThemes()" button="true" (click)="selectTheme(theme.name)">
      <div slot="start" class="dot" [ngStyle]="{'background-color': theme.mainColor}"></div>
      <ion-label text-centered>{{theme.name}}</ion-label>
    </ion-item>
    <ion-item button="true" (click)="cleanDatabase()">
      <ion-label>{{'preferences.clean-database' | translate}}</ion-label>
      <ion-icon slot="end" name="trash" color="medium"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>{{'preferences.goto-position' | translate}}</ion-label>
      <ion-toggle slot="end" [(ngModel)]="configuration.automaticShowFirstPosition" color="medium"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{'preferences.play-sounds' | translate}}</ion-label>
      <ion-toggle slot="end" [(ngModel)]="configuration.playSounds" color="medium"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{'preferences.prevent-screen-off' | translate}}</ion-label>
      <ion-toggle slot="end" [(ngModel)]="configuration.preventScreenOff" color="medium"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{'preferences.use-syzygy' | translate}}</ion-label>
      <ion-toggle slot="end" [(ngModel)]="configuration.useSyzygy" color="medium"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{'preferences.stockfish-depth' | translate}}: {{configuration.stockfishDepth}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-range min="20" max="40" [(ngModel)]="configuration.stockfishDepth" color="medium"></ion-range>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button *ngIf="configuration" (click)="save()" color="primary" size="default" expand="full">
    <ion-icon slot="start" name="save"></ion-icon>
    <ion-label>{{'preferences.save-changes' | translate}}</ion-label>
  </ion-button>
</ion-footer>