<ion-app [ngClass]="{'ion-hide': !initialized}">
  <ion-split-pane when="false">
    <ion-menu menuId="mainMenu">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>{{'app.menu' | translate}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngFor="let p of prePages" lines="full" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" color="dark"></ion-icon>
              <ion-label>
                {{'app.' + p.title | translate}}
              </ion-label>
            </ion-item>
            <ng-container *ngFor="let category of endgameDatabase.categories; index as idxCategory">
              <ion-item (click)="$event.stopPropagation();toggleCategory(category)" lines="full">
                <div slot="start">
                  <img *ngFor="let icon of category.icons" src="../../assets/icon/{{icon}}" class="thumbnail" />
                </div>
                <ion-label>
                  {{'category.' + category.name | translate}}
                </ion-label>
                <ion-icon slot="end" color="medium" [name]="category.selected ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
              </ion-item>
              <ion-item [ngClass]="{'ion-hide': !category.selected}" color="light"
                *ngFor="let subcategory of category.subcategories; index as idxSubcategory"
                (click)="showList(idxCategory, idxSubcategory)">
                <img *ngFor="let image of subcategory.images" src="../../assets/icon/{{image}}" class="medium-thumbnail" />
              </ion-item>
            </ng-container>
            <ion-item *ngFor="let p of postPages" lines="full" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" color="dark"></ion-icon>
              <ion-label>
                {{'app.' + p.title | translate}}
              </ion-label>
            </ion-item>
            <ion-item lines="full" (click)="exit()">
              <ion-icon slot="start" name="exit" color="dark"></ion-icon>
              <ion-label>
                {{'app.exit' | translate}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>