<ion-app [ngClass]="{'ion-hide': !initialized}">
  <ion-split-pane when="false">
    <ion-menu menuId="mainMenu">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>{{'app.menu' | translate}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content [lazy-load-images]="{ rootMargin: '50px' }">
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngFor="let p of prePages; trackBy: trackFunc" lines="full" [routerDirection]="'root'"
              [routerLink]="[p.url]">
              <ion-icon *ngNoCheck slot="start" [name]="p.icon" color="dark"></ion-icon>
              <ion-label>
                {{'app.' + p.title | translate}}
              </ion-label>
            </ion-item>
            <ng-container *ngFor="let category of endgameDatabase.categories; index as idxCategory; trackBy: trackFunc">
              <ion-item (click)="$event.stopPropagation();toggleCategory(category)" lines="full">
                <div slot="start" style="display: flex; flex-direction: row; flex-wrap: nowrap">
                  <div *ngFor="let icon of category.iconUrls; trackBy: trackFunc" class="thumbnail"><img width="100%"
                      [attr.data-src]="icon" /></div>
                </div>
                <ion-label *ngNoCheck>
                  {{'category.' + category.name | translate}}
                </ion-label>
                <ion-icon slot="end" color="medium" [name]="category.selected ? 'arrow-dropdown' : 'arrow-dropright'">
                </ion-icon>
              </ion-item>
              <ng-container *ngIf="category.selected">
                <ion-item color="light"
                  *ngFor="let subcategory of category.subcategories; index as idxSubcategory; trackBy: trackFunc"
                  (click)="showList(idxCategory, idxSubcategory)">
                  <ng-container *ngFor="let image of subcategory.imageUrls; trackBy: trackFunc">
                    <img [attr.data-src]="image" class="medium-thumbnail" />
                  </ng-container>
                </ion-item>
              </ng-container>
            </ng-container>
            <ion-item *ngFor="let p of postPages; trackBy: trackFunc" lines="full" [routerDirection]="'root'"
              [routerLink]="[p.url]">
              <ion-icon *ngNoCheck slot="start" [name]="p.icon" color="dark"></ion-icon>
              <ion-label>
                {{'app.' + p.title | translate}}
              </ion-label>
            </ion-item>
            <ion-item lines="full" (click)="exit()">
              <ion-icon slot="start" name="exit" color="dark"></ion-icon>
              <ion-label>
                {{'app.exit' | translate}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>