// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.thumbnail {
    height: auto;
    vertical-align: middle;
    max-width: 32px;
}
.big-thumbnail {
  height: auto;
  vertical-align: middle;
  max-width: 48px;
}
.medium-thumbnail {
    height: auto;
    vertical-align: middle;
    max-width: 28px;
}
.responsive-thumbnail {
    height: auto;
    vertical-align: middle;
    max-width: 32px;
    @media (max-width: 400px) {
        max-width: 18px;
    }
}
.responsive-text {
    font-size: 17px;
    @media (max-width: 400px) {
        font-size: 10px;
    }
}
.highlight-square {
    -webkit-box-shadow: inset 0 0 3px 3px goldenRod !important;
    -moz-box-shadow: inset 0 0 3px 3px goldenRod !important;
    box-shadow: inset 0 0 3px 3px goldenRod !important;
}
.text-centered {
    text-align: center;
}
.overlay-button {
    color: var(--ion-text-color) !important;
}
:root {
    --chess-white-background: #f0d9b5;
    --chess-white-color: #b58863;
    --chess-black-background: #b58863;
    --chess-black-color: #f0d9b5;
}
.move-dest-white {
    background: radial-gradient(var(--chess-black-background) 19%, rgba(0,0,0,0) 20%);
}
.move-dest-black {
    background: radial-gradient(var(--chess-white-background) 19%, rgba(0,0,0,0) 20%);
}
.white-1e1d7 {
    background-color: var(--chess-white-background) !important;
    color: var(--chess-white-color) !important;
}
.black-3c85d {
    background-color: var(--chess-black-background) !important;
    color: var(--chess-black-color) !important;
}