<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'home.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle color="medium">{{ 'home.get-started' | translate }}</ion-card-subtitle>
      <ion-card-title color="dark">{{ 'home.presentation' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ 'home.description' | translate }}</p>
      <ion-spinner *ngIf="!endgameDatabase" name="dots"></ion-spinner>
      <ion-grid *ngIf="(endgameDatabase$ | async) as endgameDatabase">
          <ion-row *ngFor="let chunk of endgameDatabase.categories | chunks: 2; index as idxChunk; trackBy: trackFunc">
            <ion-col *ngFor="let category of chunk; index as idxCategory; trackBy: trackFunc" size="6">
              <ion-button color="light" size="default" expand="full" [attr.aria-label]="category.name" [routerLink]="'/list/' + (idxCategory + idxChunk * 2) + '/0'">
                <ng-container *ngFor="let icon of category.icons; trackBy: trackFunc">
                  <img *ngNoCheck slot="start" src="{{miscService.urlIcon(icon, config.pieceTheme)}}" class="thumbnail" [alt]="category.name" />
                </ng-container>
              </ion-button>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>